<h1>Playlist Sessions</h1>
<p>Find me in app/views/playlist_session/index.html.erb</p>
<p>Here's a list of Playlist Sessions you've been a part of</p>

<%= link_to "Logout", :controller => :auth, :action => :logout %>
